*{
    margin: 0;
    padding: 0;
    font-family:'Bebas Neue','cursive' ;
    list-style-type:none;
    text-decoration:none;
}

//colores a usar
$color-fondo:#e7e7e7;
$color-princ:#fff159;
$color-borde:#c1b74d;
$color-letras:#736c28;
$color-cajas:#fff;

